@import '../variables'

.landing_illustrations
  align-items: flex-end
  display: flex
  flex-shrink: 0
  height: 310px
  justify-content: center
  position: relative
  width: 900px
  z-index: 3

.landing_illustrations-office,
.landing_illustrations-cafe
  background-repeat: no-repeat
  background-size: 100% 100%

.landing_illustrations-office
  background-image: image-url('landing/office')
  height: 170px
  margin-bottom: 70px
  width: 250px

.landing_illustrations-cafe
  background-image: image-url('landing/cafe')
  height: 200px
  margin-bottom: 64px
  margin-left: 200px
  width: 220px
