@import '../variables'

=cloud-move($pos1, $pos2)
  0%
    left: $pos1

  50%
    left: $pos2

  100%
    left: $pos1

@keyframes cloud_1
  +cloud-move(10%, 15%)

@keyframes cloud_2
  +cloud-move(20%, 30%)

@keyframes cloud_3
  +cloud-move(50%, 60%)

@keyframes cloud_4
  +cloud-move(75%, 90%)

.landing_cloud
  background-repeat: no-repeat
  background-size: 100%
  position: absolute
  z-index: 2

  &.is-1
    animation: cloud_1 60s 0ms infinite
    background-image: image-url('landing/cloud_1')
    height: 50px
    width: 100px
    top: 40px

  &.is-2
    animation: cloud_2 60s 0ms infinite
    background-image: image-url('landing/cloud_2')
    height: 45px
    width: 90px
    top: 80px

  &.is-3
    animation: cloud_3 60s 0ms infinite
    background-image: image-url('landing/cloud_3')
    height: 55px
    width: 110px
    top: 30px

  &.is-4
    animation: cloud_4 60s 0ms infinite
    background-image: image-url('landing/cloud_4')
    height: 50px
    width: 100px
    top: 20px
