# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a7317b8f241498702c7e2c1da261ddad211580643d2bf09eb2305504e256c491f0ee641501fd381657bac5ade7efdca994483be89c37ebb44f3d5429ecf68485

  telegram:
    bot:
      token: 363941832:AAHDZYV3hKOP8WKpbndRwlWprXdpSYzZ6xk
      username: ProofykBot

test:
  secret_key_base: 77e6f31facbe29529df9e9a480070d136b35416d2a750c8621a30ef9583532139fa50c36ca4256cefd8fb28dab322695136b1658e1b81969d3a59bfb7c5f895c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
